<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/base :: layout( ~{:: title}, ~{:: main} ) }">
    <head>
        <title>Cadastro de Medico</title>
    </head>
    <body>
        <main>
            <div class="container-fluid">

                <div>
                    <h2>
                        Cadastro de um novo medico
                    </h2>
                    <form th:action="@{/cadastroMed}" method="post" th:object="${medico}" id="formNomeCPFCRM"  class="row g-3 formCadastro">
                        <div class="col-md-6">
                            <label for="nomeMed" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="nome2" name="nome" th:field="*{nome}">
                        </div>

                        <div class="col-md-6">
                            <label for="cpfInput" class="form-label">CPF</label>
                            <input type="text" class="form-control" id="cpfInput2" name="cpf" th:field="*{cpf}">
                        </div>

                        <div class="col-12">
                            <label for="crmInput" class="form-label">CRM</label>
                            <input type="text" class="form-control" id="crmInput" name="crm" th:field="*{crm}" >
                        </div>

                        <div class="col-12 mt-4">
                            <button type="submit" class="btn btn-primary" id="btCadastrar">Cadastrar</button>
                            <a href="/MedCare" class="btn btn-primary" id="btVoltar">Voltar</a>

                        </div>
                    </form>
                </div>

            </div>
        </main>
    </body>
</html>
