
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/base :: layout( ~{:: title}, ~{:: main} ) }">
    <head>
        <title>Página Inicial</title>
    </head>
    <body>
        <main>
            <div class="container-fluid">

                <h1>Agendar Consulta</h1>
                <form th:action="@{/marcarConsultas}" th:object="${consulta}"  class="formCadastro mb-3" method="POST">
                    <label class="form-label" for="pacSelect">Selecione um Paciente:</label>
                    <select id="pacSelect" name="paciente" class="form-control" th:field="*{paciente}">
                        <option th:each="paciente : ${pacientes}" th:value="${paciente.id}" th:text="${paciente.nome}"></option>
                    </select>
                    
                    <label class="form-label" for="medSelect">Selecione um Médico</label>
                    <select id="medSelect" name="medico" class="form-control" th:field="*{medico}">
                        <option th:each="medico : ${medicos}" th:value="${medico.id}" th:text="${medico.nome}"></option>
                    </select>

                    <div class="mb-3 ">
                        <label for="dataConsulta" class="form-label">Data</label>
                        <input type="date" class="form-control" id="dataConsulta" th:field="*{data}" th:min="${dataMinima}" th:max="${dataMaxima}">
                    </div> 

                    <button type="submit" class="btn btn-primary" >Agendar</button>
                    <a href="/consultas"  class="btn btn-primary" id="btVoltar">Voltar</a>
                </form>
            </div>
        </main>
    </body>
</html>